#wb_header { background: transparent none repeat scroll left top; height: 68px; }
#wb_main #page_1 { background: transparent none repeat scroll left top; height: 733px; padding-bottom: 70px; }
#wb_main #page_5 { background: transparent none repeat scroll left top; height: 514px; padding-bottom: 50px; }
#wb_main #page_4 { background: transparent none repeat scroll left top; height: 945px; padding-bottom: 30px; }
#wb_footer { background: transparent none repeat-x scroll center top; height: 50px; }
body { background: #fef6f3 url("../gallery_gen/a5c6f3813d0d23b4042dd130542753cc.jpg") repeat-x scroll center top; }
.wb_sbg { background: transparent url("../gallery_gen/db7b40b8db1d99cc1c5e25154b5af692.jpg") repeat-x scroll center bottom; }
body, .wb_sbg { min-width: 320px; min-height: 2460px; }
.root { width: 320px; min-height: 2460px; overflow: hidden; }
.sm_icon:hover { -webkit-filter: brightness(80%) !important; }
.wb_stl_custom { font: normal normal 16px 'Open Sans',sans-serif; font-weight: 500; color: #333333; }
.wb_element.wb_element_picture {
    z-index: 9001 !important;
}
#wb_element_instance0 .btn-collapser { display: inline-block; margin-top: 0.5px; background-color: transparent; border-color: #91a351; }
#wb_element_instance0 .btn-collapser > .icon-bar { background-color: #91a351; }
#wb_element_instance0 .btn-collapser:hover { background-color: transparent; border-color: #587175; }
#wb_element_instance0 .btn-collapser:hover > .icon-bar { background-color: #587175; }
#wb_element_instance0 { left: 30px; top: 21px; min-width: 280px; width: 280px; min-height: 30px; height: 30px; display: block; z-index: 410; }
#wb_element_instance0 ul { background: transparent none repeat scroll left top; border: 1px none #000000; }
#wb_element_instance0 > ul { display: none; }
#wb_element_instance0.collapse-expanded > ul { display: block; background-color:rgba(0, 0, 0, 0.5); float: none; height: auto; overflow: hidden; overflow-y: auto; }
#wb_element_instance0.collapse-expanded > ul > li { display: block; }
#wb_element_instance0.collapse-expanded li > ul { position: static; }
#wb_element_instance0.collapse-expanded li.active > ul { display: block!important; }
#wb_element_instance0.collapse-expanded li.over > ul { display: block!important; }
#wb_element_instance0, #wb_element_instance0 ul { text-align: right; }
#wb_element_instance0 ul ul { background: transparent none repeat scroll right top; }
#wb_element_instance0 li { margin: 0px 0px 0px 0px; }
#wb_element_instance0 li a { text-transform: uppercase; border: 0px none #000000; padding: 25px 20px 25px 20px; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #91a351; line-height: 18px; background: transparent none no-repeat scroll center top; }
#wb_element_instance0 li.over > a, #wb_element_instance0 li:focus > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #587175; line-height: 18px; background: transparent none repeat-x scroll center center; }
#wb_element_instance0 li.active > a { border: 0px none #000000; font: normal bold 16px 'Open Sans',sans-serif; text-decoration: none; color: #ffffff; line-height: 18px; background: transparent url('../gallery/line-green.jpg') repeat-x scroll center bottom; }
#wb_element_instance0:not(.collapse-expanded) .vmenu ul.open-left,#wb_element_instance0:not(.collapse-expanded) .hmenu ul.open-left { left: auto; right: 100%; }
#wb_element_instance0:not(.collapse-expanded) .hmenu > li > ul.open-left { left: auto; right: 0; }
#wb_element_instance1 p:last-child { margin-bottom: 0; }
#wb_element_instance1 { left: 10px; top: 20px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; z-index: 589; }
#wb_element_instance2 p:last-child { margin-bottom: 0; }
#wb_element_instance2 { left: 70px; top: 20px; min-width: 200px; width: 200px; min-height: 32px; height: 32px; display: block; z-index: 409; }
#wb_element_instance3 p:last-child { margin-bottom: 0; }
#wb_element_instance3 { left: 0px; top: 7px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 380; }
#wb_element_instance4 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 3px solid #587175;; }
#wb_element_instance4 { left: 105px; top: 42px; min-width: 110px; width: 110px; min-height: 100px; height: 100px; display: block; z-index: 381; }
#wb_element_instance5 { left: 0px; top: 153px; min-width: 320px; width: 320px; min-height: 570px; height: 570px; display: block; z-index: 378; }
#wb_element_instance5 > div.wb_shp { background: #ffffff none repeat scroll left top; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 570px; }
#wb_element_instance6 { left: 35px; top: 223px; min-width: 250px; width: 250px; min-height: 250px; height: 250px; display: block; z-index: 384; }
#wb_element_instance6 img { width: 250px; height: 250px; display: block; position: static; left: 0px; top: 0px; }
#wb_element_instance7 p:last-child { margin-bottom: 0; }
#wb_element_instance7 { left: 35px; top: 479px; min-width: 270px; width: 270px; min-height: 32px; height: 32px; display: block; z-index: 387; }
#wb_element_instance8 { left: 0px; top: 682px; min-width: 320px; width: 320px; min-height: 50px; height: 50px; display: block; z-index: 388; }
#wb_element_instance8 > div.wb_shp { background: #6b8175 none repeat scroll left top; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 41px; }
#wb_element_instance9 p:last-child { margin-bottom: 0; }
#wb_element_instance9 { left: 35px; top: 543px; min-width: 270px; width: 270px; min-height: 32px; height: 32px; display: block; z-index: 389; }
#wb_element_instance10 > .wb-elm-line { margin: 8px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 1px solid #587175;; }
#wb_element_instance10 { left: 35px; top: 575px; min-width: 260px; width: 260px; min-height: 20px; height: 20px; display: block; z-index: 379; }
#wb_element_instance11 p:last-child { margin-bottom: 0; }
#wb_element_instance11 { left: 35px; top: 595px; min-width: 270px; width: 270px; min-height: 32px; height: 32px; display: block; z-index: 391; }
#wb_element_instance12 p:last-child { margin-bottom: 0; }
#wb_element_instance12 { left: 35px; top: 627px; min-width: 270px; width: 270px; min-height: 32px; height: 32px; display: block; z-index: 393; }
#wb_element_instance13 p:last-child { margin-bottom: 0; }
#wb_element_instance13 { left: 35px; top: 658px; min-width: 270px; width: 270px; min-height: 24px; height: 24px; display: block; z-index: 394; }
#wb_element_instance14 { left: 27px; top: 689px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 395; overflow: hidden; }
#wb_element_instance14 img { width: 32px; height: 32px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance15 { left: 83px; top: 689px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 396; overflow: hidden; }
#wb_element_instance15 img { width: 32px; height: 32px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance16 { left: 143px; top: 689px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 397; overflow: hidden; }
#wb_element_instance16 img { width: 32px; height: 32px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance17 { left: 203px; top: 689px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 398; overflow: hidden; }
#wb_element_instance17 img { width: 32px; height: 32px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance18 { left: 263px; top: 689px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; z-index: 399; overflow: hidden; }
#wb_element_instance18 img { width: 26px; height: 26px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
#wb_element_instance19 p:last-child { margin-bottom: 0; }
#wb_element_instance19 { left: 100px; top: 172px; min-width: 120px; width: 120px; min-height: 32px; height: 32px; display: block; z-index: 402; }
#wb_element_instance20 { left: 100px; top: 170px; min-width: 120px; width: 120px; min-height: 50px; height: 50px; display: block; z-index: 385; overflow: hidden; }
#wb_element_instance20 img { width: 285px; height: 140px; display: block; position: relative; left: -80px; top: -90px; max-width: inherit; }
#wb_element_instance21 p:last-child { margin-bottom: 0; }
#wb_element_instance21 { left: 35px; top: 511px; min-width: 270px; width: 270px; min-height: 32px; height: 32px; display: block; z-index: 403; }
#wb_element_instance22 p:last-child { margin-bottom: 0; }
#wb_element_instance22 { left: 0px; top: 40px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 77; }
#wb_element_instance23 p:last-child { margin-bottom: 0; }
#wb_element_instance23 { left: 10px; top: 100px; min-width: 300px; width: 300px; min-height: 192px; height: 192px; display: block; z-index: 78; }
#wb_element_instance24 p:last-child { margin-bottom: 0; }
#wb_element_instance24 { left: 10px; top: 490px; min-width: 300px; width: 300px; min-height: 24px; height: 24px; display: block; z-index: 79; }
#wb_element_instance25 { left: 0px; top: 657px; min-width: 320px; width: 320px; min-height: 250px; height: 250px; display: block; z-index: 264; }
#wb_element_instance26 p:last-child { margin-bottom: 0; }
#wb_element_instance26 { left: 0px; top: 40px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 268; }
#wb_element_instance27 { left: 0px; top: 110px; min-width: 320px; width: 320px; min-height: 400px; height: 400px; display: block; z-index: 190; }
#wb_element_instance27 > div.wb_shp { background: #ffffff none repeat scroll left top; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 400px; }
#wb_element_instance28 form tr.form-footer > td { height: 20px; }
#wb_element_instance28 { left: 6px; top: 146px; min-width: 310px; width: 310px; min-height: 360px; height: 360px; display: block; z-index: 273; }
#wb_element_instance28 form .form-area-field { height: 36px; }
#wb_element_instance28 form td { text-align: right; }
#wb_element_instance28 form tr.area-row > th { height: 1%; }
#wb_element_instance28 form tr.area-row > td { height: 1%; }
#wb_element_instance29 p:last-child { margin-bottom: 0; }
#wb_element_instance29 { left: 7px; top: 111px; min-width: 280px; width: 280px; min-height: 32px; height: 32px; display: block; z-index: 274; }
#wb_element_instance30 { left: 0px; top: 550px; min-width: 320px; width: 320px; min-height: 395px; height: 395px; display: block; z-index: 192; }
#wb_element_instance30 > div.wb_shp { background: #ffffff none repeat scroll left top; border: 0px solid #C0C0C0; opacity: 0.95; border-radius: 0px 0px 0px 0px; -moz-border-radius: 0px 0px 0px 0px; -webkit-border-radius: 0px 0px 0px 0px; width: 320px; height: 395px; }
#wb_element_instance31 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 4px solid #2a2428;; }
#wb_element_instance31 { left: 0px; top: 530px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 279; }
#wb_element_instance32 > .wb-elm-line { margin: 1px 0 0 0; width: 100%; height: 1px; left: 0; top: 50%; border-top: 4px solid #2a2428;; }
#wb_element_instance32 { left: 0px; top: 90px; min-width: 320px; width: 320px; min-height: 30px; height: 30px; display: block; z-index: 276; }
#wb_element_instance33 p:last-child { margin-bottom: 0; }
#wb_element_instance33 { left: 10px; top: 560px; min-width: 310px; width: 310px; min-height: 64px; height: 64px; display: block; z-index: 278; }
#wb_header_bg { background: #fef6f3 url("../gallery_gen/a5c6f3813d0d23b4042dd130542753cc.jpg") repeat-x scroll center top; height: 68px; }
#wb_main { padding-top: 68px; }
#wb_page_1_bg { height: 803px; background: #fef6f3 url("../gallery_gen/a5c6f3813d0d23b4042dd130542753cc.jpg") repeat-x scroll center -68px; }
#wb_main #page_1_anchor { top: -68px; }
#wb_page_5_bg { height: 564px; background: #6b8175 none repeat-x scroll center -70px; }
#wb_main #page_5_anchor { top: -68px; }
#wb_page_4_bg { height: 975px; background: #c7d3af none repeat-x scroll center -70px; }
#wb_main #page_4_anchor { top: -68px; }
#wb_bgs_cont { top: 68px; }
#wb_sbg_placeholder { height: 68px; }
#wb_element_instance34 { left: 0px; top: 607px; display: block; z-index: 9000; }
#wb_element_instance35 { left: 0px; top: 59px; display: block; z-index: 9999; }


@media (min-width: 768px) {
	#wb_header { height: 68px; }
	#wb_main #page_1 { height: 609px; }
	#wb_main #page_5 { height: 294px; }
	#wb_main #page_4 { height: 510px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 768px; min-height: 1681px; }
	.root { width: 768px; min-height: 1681px; overflow: visible; }
	#wb_element_instance0 { left: 290px; top: 0px; min-width: 470px; width: 470px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 0px; top: 29px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: 90px; top: 20px; min-width: 200px; width: 200px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance3 { left: 0px; top: 50px; min-width: 760px; width: 760px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance4 { left: 340px; top: 70px; min-width: 110px; width: 110px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance5 { left: 70px; top: 134px; min-width: 630px; width: 630px; min-height: 470px; height: 470px; display: block; }
	#wb_element_instance5 > div.wb_shp { width: 630px; height: 470px; }
	#wb_element_instance6 { left: 75px; top: 177px; min-width: 300px; width: 300px; min-height: 370px; height: 370px; display: block; overflow: hidden; }
	#wb_element_instance6 img { 
	    /*width: 300px; height: 455.1724137931px; */
	    display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 385px; top: 237px; min-width: 300px; width: 300px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance8 { left: 70px; top: 559px; min-width: 630px; width: 630px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance8 > div.wb_shp { width: 630px; height: 50px; }
	#wb_element_instance9 { left: 385px; top: 297px; min-width: 280px; width: 280px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance10 { left: 385px; top: 307px; min-width: 300px; width: 300px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance11 { left: 385px; top: 357px; min-width: 300px; width: 300px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance12 { left: 385px; top: 396px; min-width: 300px; width: 300px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance13 { left: 380px; top: 434px; min-width: 300px; width: 300px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance14 { left: 228px; top: 569px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance14 img { width: 32px; height: 32px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance15 { left: 298px; top: 569px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance15 img { width: 32px; height: 32px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance16 { left: 368px; top: 569px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance16 img { width: 32px; height: 32px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance17 { left: 438px; top: 569px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance17 img { width: 32px; height: 32px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance18 { left: 508px; top: 569px; min-width: 30px; width: 30px; min-height: 30px; height: 30px; display: block; overflow: hidden; }
	#wb_element_instance18 img { width: 26px; height: 26px; display: block; position: relative; left: 0px; top: 0px; max-width: inherit; }
	#wb_element_instance19 { left: 385px; top: 187px; min-width: 120px; width: 120px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance20 { left: 385px; top: 187px; min-width: 120px; width: 120px; min-height: 50px; height: 50px; display: block; overflow: hidden; }
	#wb_element_instance20 img { width: 285px; height: 140px; display: block; position: relative; left: -80px; top: -90px; max-width: inherit; }
	#wb_element_instance21 { left: 385px; top: 267px; min-width: 200px; width: 200px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance22 { left: 0px; top: 40px; min-width: 760px; width: 760px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance23 { left: 10px; top: 100px; min-width: 750px; width: 750px; min-height: 64px; height: 64px; display: block; }
	#wb_element_instance24 { left: 10px; top: 270px; min-width: 750px; width: 750px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance25 { left: 451px; top: 230px; min-width: 300px; width: 300px; min-height: 180px; height: 180px; display: block; }
	#wb_element_instance26 { left: 10px; top: 40px; min-width: 750px; width: 750px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance27 { left: 3px; top: 110px; min-width: 420px; width: 420px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance27 > div.wb_shp { width: 420px; height: 400px; }
	#wb_element_instance28 { left: 10px; top: 180px; min-width: 400px; width: 400px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance28 form .form-area-field { height: 114px; }
	#wb_element_instance29 { left: 10px; top: 130px; min-width: 280px; width: 280px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance30 { left: 441px; top: 110px; min-width: 320px; width: 320px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance30 > div.wb_shp { width: 320px; height: 400px; }
	#wb_element_instance31 { left: 3px; top: 55px; min-width: 420px; width: 420px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance32 { left: 441px; top: 55px; min-width: 320px; width: 320px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance33 { left: 449px; top: 130px; min-width: 240px; width: 240px; min-height: 64px; height: 64px; display: block; }
	#wb_main { padding-top: 68px; }
	#wb_page_1_bg { height: 679px; background: #fef6f3 url("../gallery_gen/a5c6f3813d0d23b4042dd130542753cc.jpg") repeat-x scroll center -68px; }
	#wb_main #page_1_anchor { top: -68px; }
	#wb_page_5_bg { height: 344px; background: #6b8175 none repeat-x scroll center -70px; }
	#wb_main #page_5_anchor { top: -68px; }
	#wb_page_4_bg { height: 540px; background: #c7d3af none repeat-x scroll center -70px; }
	#wb_main #page_4_anchor { top: -68px; }
	#wb_bgs_cont { top: 68px; }
	#wb_header_bg { height: 68px; }
	#wb_sbg_placeholder { height: 68px; }
	#wb_element_instance34 { left: 0px; top: 607px; display: block; }
	#wb_element_instance35 { left: 0px; top: 59px; display: block; }
}

@media (min-width: 992px) {
	#wb_header { height: 68px; }
	#wb_main #page_1 { height: 587px; }
	#wb_main #page_5 { height: 254px; }
	#wb_main #page_4 { height: 510px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 992px; min-height: 1619px; }
	.root { width: 992px; min-height: 1619px; overflow: visible; }
	#wb_element_instance0 { left: 410px; top: 0px; min-width: 570px; width: 570px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 20px; top: 15px; min-width: 455px; width: 455px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: 90px; top: 20px; min-width: 200px; width: 200px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance3 { left: 0px; top: 21px; min-width: 990px; width: 990px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance4 { left: 270px; top: 41px; min-width: 450px; width: 450px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance5 { left: 130px; top: 112px; min-width: 740px; width: 740px; min-height: 470px; height: 470px; display: block; }
	#wb_element_instance5 > div.wb_shp { width: 740px; height: 470px; }
	#wb_element_instance6 { left: 141px; top: 136px; min-width: 380px; width: 380px; min-height: 390px; height: 390px; display: block; overflow: hidden; }
	#wb_element_instance6 img { width: 400px; height: 400px; display: block; position: relative; left: -20px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 530px; top: 192px; min-width: 330px; width: 330px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance8 { left: 130px; top: 537px; min-width: 740px; width: 740px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance8 > div.wb_shp { width: 740px; height: 50px; }
	#wb_element_instance9 { left: 530px; top: 252px; min-width: 280px; width: 280px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance10 { left: 530px; top: 262px; min-width: 330px; width: 330px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance11 { left: 530px; top: 312px; min-width: 250px; width: 250px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance12 { left: 530px; top: 362px; min-width: 250px; width: 250px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance13 { left: 530px; top: 412px; min-width: 250px; width: 250px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance14 { left: 340px; top: 547px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance14 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 410px; top: 547px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance15 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance16 { left: 480px; top: 547px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance16 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 550px; top: 547px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance17 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance18 { left: 620px; top: 547px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance18 img { width: 26px; height: 26px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance19 { left: 529px; top: 142px; min-width: 120px; width: 120px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance20 { left: 529px; top: 142px; min-width: 120px; width: 120px; min-height: 50px; height: 50px; display: block; overflow: hidden; }
	#wb_element_instance20 img { width: 285px; height: 140px; display: block; position: relative; left: -80px; top: -90px; max-width: inherit; }
	#wb_element_instance21 { left: 530px; top: 222px; min-width: 330px; width: 330px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance22 { left: 0px; top: 40px; min-width: 990px; width: 990px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance23 { left: 10px; top: 100px; min-width: 970px; width: 970px; min-height: 64px; height: 64px; display: block; }
	#wb_element_instance24 { left: 10px; top: 230px; min-width: 970px; width: 970px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance25 { left: 529px; top: 234px; min-width: 400px; width: 400px; min-height: 180px; height: 180px; display: block; }
	#wb_element_instance26 { left: 0px; top: 40px; min-width: 990px; width: 990px; min-height: 30px; height: 30px; display: block; }
	#wb_element_instance27 { left: 60px; top: 110px; min-width: 430px; width: 430px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance27 > div.wb_shp { width: 430px; height: 400px; }
	#wb_element_instance28 { left: 84px; top: 180px; min-width: 390px; width: 390px; min-height: 310px; height: 310px; display: block; }
	#wb_element_instance28 form .form-area-field { height: 114px; }
	#wb_element_instance29 { left: 85px; top: 120px; min-width: 360px; width: 360px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance30 { left: 525px; top: 110px; min-width: 410px; width: 410px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance30 > div.wb_shp { width: 410px; height: 400px; }
	#wb_element_instance31 { left: 60px; top: 55px; min-width: 430px; width: 430px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance32 { left: 525px; top: 55px; min-width: 410px; width: 410px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance33 { left: 545px; top: 120px; min-width: 360px; width: 360px; min-height: 64px; height: 64px; display: block; }
	#wb_main { padding-top: 68px; }
	#wb_page_1_bg { height: 657px; background: #fef6f3 url("../gallery_gen/a5c6f3813d0d23b4042dd130542753cc.jpg") repeat-x scroll center -68px; }
	#wb_main #page_1_anchor { top: -68px; }
	#wb_page_5_bg { height: 304px; background: #6b8175 none repeat-x scroll center -70px; }
	#wb_main #page_5_anchor { top: -68px; }
	#wb_page_4_bg { height: 540px; background: #c7d3af none repeat-x scroll center -70px; }
	#wb_main #page_4_anchor { top: -68px; }
	#wb_bgs_cont { top: 68px; }
	#wb_header_bg { height: 68px; }
	#wb_sbg_placeholder { height: 68px; }
	#wb_element_instance34 { left: 0px; top: 607px; display: block; }
	#wb_element_instance35 { left: 0px; top: 59px; display: block; }
}

@media (min-width: 1200px) {
	#wb_header { height: 68px; }
	#wb_main #page_1 { height: 595px; }
	#wb_main #page_5 { height: 234px; }
	#wb_main #page_4 { height: 520px; }
	#wb_footer { height: 50px; }
	body, .wb_sbg { min-width: 1200px; min-height: 1617px; }
	.root { width: 1200px; min-height: 1617px; overflow: visible; }
	#wb_element_instance0 { left: 650px; top: 0px; min-width: 540px; width: 540px; min-height: 60px; height: 60px; display: block; }
	#wb_element_instance0 ul { background: transparent none repeat scroll right top; }
	#wb_element_instance0 .btn-collapser { display: none; }
	#wb_element_instance0 > ul { display: block; }
	#wb_element_instance1 { left: 0px; top: 15px; min-width: 200px; width: 200px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance2 { left: 100px; top: 20px; min-width: 200px; width: 200px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance3 { left: 0px; top: 5px; min-width: 1200px; width: 1200px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance4 { left: 330px; top: 35px; min-width: 530px; width: 530px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance5 { left: 220px; top: 120px; min-width: 740px; width: 740px; min-height: 470px; height: 470px; display: block; }
	#wb_element_instance5 > div.wb_shp { width: 740px; height: 470px; }
	#wb_element_instance6 { left: 230px; top: 144px; min-width: 370px; width: 370px; min-height: 390px; height: 390px; display: block; overflow: hidden; }
	#wb_element_instance6 img { width: 400px; height: 400px; display: block; position: relative; left: -30px; top: 0px; max-width: inherit; }
	#wb_element_instance7 { left: 619px; top: 230px; min-width: 330px; width: 330px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance8 { left: 220px; top: 545px; min-width: 740px; width: 740px; min-height: 50px; height: 50px; display: block; }
	#wb_element_instance8 > div.wb_shp { width: 740px; height: 50px; }
	#wb_element_instance9 { left: 619px; top: 290px; min-width: 330px; width: 330px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance10 { left: 619px; top: 330px; min-width: 330px; width: 330px; min-height: 10px; height: 10px; display: block; }
	#wb_element_instance11 { left: 619px; top: 347px; min-width: 260px; width: 260px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance12 { left: 619px; top: 362px; min-width: 260px; width: 260px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance13 { left: 619px; top: 447px; min-width: 260px; width: 260px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance14 { left: 430px; top: 555px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance14 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance15 { left: 500px; top: 555px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance15 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance16 { left: 570px; top: 555px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance16 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance17 { left: 640px; top: 555px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance17 img { width: 32px; height: 32px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance18 { left: 710px; top: 555px; min-width: 32px; width: 32px; min-height: 32px; height: 32px; display: block; }
	#wb_element_instance18 img { width: 26px; height: 26px; display: block; position: static; left: 0px; top: 0px; }
	#wb_element_instance19 { left: 609px; top: 180px; min-width: 120px; width: 120px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance20 { left: 609px; top: 180px; min-width: 120px; width: 120px; min-height: 50px; height: 50px; display: block; overflow: hidden; }
	#wb_element_instance20 img { width: 285px; height: 140px; display: block; position: relative; left: -80px; top: -90px; max-width: inherit; }
	#wb_element_instance21 { left: 619px; top: 260px; min-width: 330px; width: 330px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance22 { left: 0px; top: 40px; min-width: 1200px; width: 1200px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance23 { left: 10px; top: 110px; min-width: 1180px; width: 1180px; min-height: 58px; height: 58px; display: block; }
	#wb_element_instance24 { left: 10px; top: 210px; min-width: 1180px; width: 1180px; min-height: 24px; height: 24px; display: block; }
	#wb_element_instance25 { left: 662px; top: 231px; min-width: 400px; width: 400px; min-height: 180px; height: 180px; display: block; }
	#wb_element_instance26 { left: 0px; top: 40px; min-width: 1200px; width: 1200px; min-height: 36px; height: 36px; display: block; }
	#wb_element_instance27 { left: 150px; top: 120px; min-width: 440px; width: 440px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance27 > div.wb_shp { width: 440px; height: 400px; }
	#wb_element_instance28 { left: 170px; top: 210px; min-width: 390px; width: 390px; min-height: 280px; height: 280px; display: block; }
	#wb_element_instance28 form .form-area-field { height: 84px; }
	#wb_element_instance29 { left: 170px; top: 130px; min-width: 340px; width: 340px; min-height: 29px; height: 29px; display: block; }
	#wb_element_instance30 { left: 644px; top: 120px; min-width: 440px; width: 440px; min-height: 400px; height: 400px; display: block; }
	#wb_element_instance30 > div.wb_shp { width: 440px; height: 400px; }
	#wb_element_instance31 { left: 150px; top: 65px; min-width: 440px; width: 440px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance32 { left: 644px; top: 65px; min-width: 440px; width: 440px; min-height: 100px; height: 100px; display: block; }
	#wb_element_instance33 { left: 654px; top: 130px; min-width: 380px; width: 380px; min-height: 58px; height: 58px; display: block; }
	#wb_main { padding-top: 68px; }
	#wb_page_1_bg { height: 665px; background: #fef6f3 url("../gallery_gen/a5c6f3813d0d23b4042dd130542753cc.jpg") repeat-x scroll center -68px; }
	#wb_main #page_1_anchor { top: -68px; }
	#wb_page_5_bg { height: 284px; background: #6b8175 none repeat-x scroll center -70px; }
	#wb_main #page_5_anchor { top: -68px; }
	#wb_page_4_bg { height: 550px; background: #c7d3af none repeat-x scroll center -70px; }
	#wb_main #page_4_anchor { top: -68px; }
	#wb_bgs_cont { top: 68px; }
	#wb_header_bg { height: 68px; }
	#wb_sbg_placeholder { height: 68px; }
	#wb_element_instance34 { left: 0px; top: 607px; display: block; }
	#wb_element_instance35 { left: 0px; top: 59px; display: block; }
}
